<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.SupplierMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.entity.Supplier">
        <id column="supplier_id" property="supplierId" />
        <result column="supplier_name" property="supplierName" />
        <result column="paymentType_key" property="paymenttypeKey" />
        <result column="company_addr" property="companyAddr" />
        <result column="contact_person" property="contactPerson" />
        <result column="contact_number" property="contactNumber" />
        <result column="contact_email" property="contactEmail" />
        <result column="contract_startTime" property="contractStarttime" />
        <result column="contract_endTime" property="contractEndtime" />
        <result column="contract_code" property="contractCode" />
        <result column="status" property="status" />
        <result column="operator" property="operator" />
        <result column="inserttime" property="inserttime" />
        <result column="updatetime" property="updatetime" />
        <result column="isactive" property="isactive" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        supplier_id AS "supplierId", supplier_name AS "supplierName", paymentType_key AS "paymenttypeKey", company_addr AS "companyAddr", contact_person AS "contactPerson", contact_number AS "contactNumber", contact_email AS "contactEmail", contract_startTime AS "contractStarttime", contract_endTime AS "contractEndtime", contract_code AS "contractCode", status AS "status", operator AS "operator", inserttime AS "inserttime", updatetime AS "updatetime", isactive AS "isactive"
    </sql>


    <select id="selectSupplier" resultMap="BaseResultMap">
        select * from supplier where supplier_id = #{supplierId}
    </select>

</mapper>
